<div class="pageFullNav">
  <nav class="docs-navbar">
    <span class="docs-button mat-button"  (click)="logout()">
      <span class="mat-button-wrapper" [hidden]="!isAuthenticate">
        Logout
      </span>
      <div class="mat-button-ripple mat-ripple" mat-ripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </span>
  </nav>
</div>
