@import '../../../theme/variables.scss';

.pageFullNav {
  .docs-navbar {
    background: $color-00b;
    padding: 8px 16px;
    height: 35px;
    span {
      color: $color-fff;
      text-transform: uppercase;
      float: right;
    }
  }
}
