<div class="wrapper">
  <div class="box">
    <img src="{{characterData.image}}">
  </div>
  <div>
    <p>Name: {{characterData.name}}</p>
    <p>House: {{characterData.house}}</p>
    <p>Date of Birth: {{characterData.dateOfBirth}}</p>
    <p>Gender: {{getGender()}}</p>
    <p>Actor: {{characterData.actor}}</p>
  </div>
</div>
