@import '../../theme/variables.scss';

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrapper {
  width: 1170px;
  float: none;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 30%;
  float: left;
  height: 250px;
  margin: 15px 1.5%;
}

.box img {
  width: 100%;
  float: left;
  height: 200px;
  fill: $color-000;
}

.box p {
  width: 100%;
  float: left;
  text-align: center;
  color: $color-000;
  font-size: 35px;
}
