<h2>{{getHouseName()}}</h2>
<div class="wrapper">
  <mat-spinner *ngIf="!houseCharacters.length"></mat-spinner>
  <div class="box" *ngFor="let houseCharacter of houseCharacters | slice:0:6; let i=index" (click)="setCharacterDetails(houseCharacter)">
    <img src="{{houseCharacter.image}}">
    <p>{{houseCharacter.name}}</p>
  </div>
</div>
