@import '../../theme/variables.scss';

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
h2{
  padding-left: 100px;
}
.wrapper {
  width: 1170px;
  float: none;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
  /deep/ .mat-progress-spinner circle, .mat-spinner circle {
    stroke: $color-00b;
  }
}

.box {
  width: 30%;
  float: left;
  height: 200px;
  margin: 15px 1.5%;
  cursor: pointer;
}

.box img {
  width: 100%;
  float: left;
  height: 200px;
  fill: $color-000;
}

.box p {
  width: 100%;
  float: left;
  text-align: center;
  color: $color-000;
  font-size: 35px;
}
