<div class="login-form">
  <form #LoginForm="ngForm">
    <div class="form">
      <h3>Welcome to Hogwarts</h3>
      <mat-input-container>
        <input matInput placeholder="Enter Username" [(ngModel)]="username" name="username" required>
      </mat-input-container>
      <mat-form-field>
        <mat-select placeholder="House" [(ngModel)]="house" name="house">
          <mat-option *ngFor="let house of houses" [value]="house.value">
            {{house.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
        <button mat-raised-button color="primary" (click)="joinUser()" [disabled]="!LoginForm.form.valid">JOIN</button>
    </div>
  </form>
</div>
